<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>My Developer Skills</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/devskills">All Dev Skills</a>
    <h1>Devskill #<%= devskillNum %></h1>
    <h3><%= devskill.devskill %></h3>
    <h3>Learning Complete: <%= devskill.learned ? 'Yes' : 'Ongoing' %></h3>
</body>
</html>